In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import json
%matplotlib inline 
from sklearn.model_selection import train_test_split

#opening JSON file
f = open('Downloads/assignment.json')

data = json.load(f)
df = pd.DataFrame(data)

df.head(100)

                                                  req  isSafe
0   {'baseUrl': '/crm/note', 'body': {'note': {'ti...    True
1   {'baseUrl': '/crm/note', 'body': {'note': {'ti...    True
2   {'baseUrl': '/crm/note', 'body': {'note': {'ti...   False
3   {'baseUrl': '/crm/note', 'body': {'note': {'ti...    True
4   {'baseUrl': '/crm/note', 'body': {'note': {'ti...   False
..                                                ...     ...
95  {'baseUrl': '/crm/note', 'body': {'note': {'ti...    True
96  {'baseUrl': '/crm/note', 'body': {'note': {'ti...   False
97  {'baseUrl': '/crm/note', 'body': {'note': {'ti...   False
98  {'baseUrl': '/crm/note', 'body': {'note': {'ti...   False
99  {'baseUrl': '/crm/note', 'body': {'note': {'ti...   False

[100 rows x 2 columns]

In [2]:
#cleaning the dataframe
bn = pd.DataFrame(df.req.values.tolist())
bn.head()

,baseUrl,body,fresh,headers,hostname,ip,ips,originalUrl,params,path,protocol,query,secure,stale,subdomains,xhr
0,/crm/note,"{'note': {'title': 'Tina Johnson', 'desc': 'To...",False,"{'host': 'example.com', 'user-agent': 'insomni...",example.com,::ffff:117.99.96.244,[],/crm/note,{},/note,http,{},False,True,[crm],False
1,/crm/note,"{'note': {'title': 'Clayton Cooper', 'desc': '...",False,"{'host': 'example.com', 'user-agent': 'insomni...",example.com,::ffff:117.99.96.244,[],/crm/note,{},/note,http,{},False,True,[crm],False
2,/crm/note,"{'note': {'title': 'Curtis Wolfe', 'desc': 'Tu...",False,"{'host': 'example.com', 'user-agent': 'insomni...",example.com,::ffff:117.99.96.244,[],/crm/note,{},/note,http,{},False,True,[crm],False
3,/crm/note,"{'note': {'title': 'Laura Fisher', 'desc': 'St...",False,"{'host': 'example.com', 'user-agent': 'insomni...",example.com,::ffff:117.99.96.244,[],/crm/note,{},/note,http,{},False,True,[crm],False
4,/crm/note,"{'note': {'title': 'Tyler Santos', 'desc': 'Us...",False,"{'host': 'example.com', 'user-agent': 'insomni...",example.com,::ffff:117.99.96.244,[],/crm/note,{},/note,http,{},False,True,[crm],False

In [3]:
bn3 = pd.DataFrame(bn.body.values.tolist())

In [4]:
bn4 = pd.DataFrame(bn3.note.values.tolist())
bn4

                      title                                               desc
0              Tina Johnson  Top recognize eat. Fact whom spend area thing ...
1            Clayton Cooper  As possible American many prepare four strong....
2              Curtis Wolfe                Tuesday Notes or 2 like 2 XSP Class
3              Laura Fisher  State third represent energy campaign not forg...
4              Tyler Santos  Us enjoy since. Time identify image position o...
..                      ...                                                ...
995         Bridget Elliott  Recently crime before five thought bit. Card f...
996             James Rocha  <img src=1 href=1 onerror="javascript:alert(1)...
997          Jasmine Gibson  Set nature they then low resource truth. Edge ...
998  Mr. Antonio Valdez DDS  Push case them such face suffer. Letter middle...
999          Brian Stephens  Family ready stay rule full than yet. Moment o...

[1000 rows x 2 columns]

In [5]:
bn1 = pd.DataFrame(bn.headers.values.tolist())

In [6]:
bn2 = pd.DataFrame(bn1.user.values.tolist())

In [7]:
## concating the dataframe

total_df = pd.concat([bn,bn1,bn2,bn4,df],axis =1)
total_df.head()

,baseUrl,body,fresh,headers,hostname,ip,ips,originalUrl,params,path,...,user_session_id,accept,content-length,user,name,role,title,desc,req,isSafe
0,/crm/note,"{'note': {'title': 'Tina Johnson', 'desc': 'To...",False,"{'host': 'example.com', 'user-agent': 'insomni...",example.com,::ffff:117.99.96.244,[],/crm/note,{},/note,...,5fb27d3750b11901a35649fe,*/*,70,"{'name': 'sam', 'role': 'sales1'}",sam,sales1,Tina Johnson,Top recognize eat. Fact whom spend area thing ...,"{'baseUrl': '/crm/note', 'body': {'note': {'ti...",True
1,/crm/note,"{'note': {'title': 'Clayton Cooper', 'desc': '...",False,"{'host': 'example.com', 'user-agent': 'insomni...",example.com,::ffff:117.99.96.244,[],/crm/note,{},/note,...,5fb27d3750b11901a35649fe,*/*,70,"{'name': 'sam', 'role': 'sales1'}",sam,sales1,Clayton Cooper,As possible American many prepare four strong....,"{'baseUrl': '/crm/note', 'body': {'note': {'ti...",True
2,/crm/note,"{'note': {'title': 'Curtis Wolfe', 'desc': 'Tu...",False,"{'host': 'example.com', 'user-agent': 'insomni...",example.com,::ffff:117.99.96.244,[],/crm/note,{},/note,...,5fb27d3750b11901a35649fe,*/*,70,"{'name': 'sam', 'role': 'sales1'}",sam,sales1,Curtis Wolfe,Tuesday Notes or 2 like 2 XSP Class,"{'baseUrl': '/crm/note', 'body': {'note': {'ti...",False
3,/crm/note,"{'note': {'title': 'Laura Fisher', 'desc': 'St...",False,"{'host': 'example.com', 'user-agent': 'insomni...",example.com,::ffff:117.99.96.244,[],/crm/note,{},/note,...,5fb27d3750b11901a35649fe,*/*,70,"{'name': 'sam', 'role': 'sales1'}",sam,sales1,Laura Fisher,State third represent energy campaign not forg...,"{'baseUrl': '/crm/note', 'body': {'note': {'ti...",True
4,/crm/note,"{'note': {'title': 'Tyler Santos', 'desc': 'Us...",False,"{'host': 'example.com', 'user-agent': 'insomni...",example.com,::ffff:117.99.96.244,[],/crm/note,{},/note,...,5fb27d3750b11901a35649fe,*/*,70,"{'name': 'sam', 'role': 'sales1'}",sam,sales1,Tyler Santos,Us enjoy since. Time identify image position o...,"{'baseUrl': '/crm/note', 'body': {'note': {'ti...",False

In [8]:
# drop the unwanted column.
total_df= total_df.drop(['body','headers','user','req'],axis=1)

In [9]:
total_df.head()

,baseUrl,fresh,hostname,ip,ips,originalUrl,params,path,protocol,query,...,content-type,org_id,user_session_id,accept,content-length,name,role,title,desc,isSafe
0,/crm/note,False,example.com,::ffff:117.99.96.244,[],/crm/note,{},/note,http,{},...,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,70,sam,sales1,Tina Johnson,Top recognize eat. Fact whom spend area thing ...,True
1,/crm/note,False,example.com,::ffff:117.99.96.244,[],/crm/note,{},/note,http,{},...,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,70,sam,sales1,Clayton Cooper,As possible American many prepare four strong....,True
2,/crm/note,False,example.com,::ffff:117.99.96.244,[],/crm/note,{},/note,http,{},...,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,70,sam,sales1,Curtis Wolfe,Tuesday Notes or 2 like 2 XSP Class,False
3,/crm/note,False,example.com,::ffff:117.99.96.244,[],/crm/note,{},/note,http,{},...,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,70,sam,sales1,Laura Fisher,State third represent energy campaign not forg...,True
4,/crm/note,False,example.com,::ffff:117.99.96.244,[],/crm/note,{},/note,http,{},...,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,70,sam,sales1,Tyler Santos,Us enjoy since. Time identify image position o...,False

In [10]:
## Distribution of classes
total_df.shape

total_df["isSafe"].value_counts()

True     572
False    428
Name: isSafe, dtype: int64

In [11]:
## Distribution of classes
total_df["hostname"].value_counts()

example.com    1000
Name: hostname, dtype: int64

In [12]:
total_df["path"].value_counts()

/note    1000
Name: path, dtype: int64

In [13]:
total_df["content-type"].value_counts()

application/json    1000
Name: content-type, dtype: int64

In [14]:
total_df["originalUrl"].value_counts()

/crm/note    1000
Name: originalUrl, dtype: int64

In [15]:
total_df["protocol"].value_counts()

http    1000
Name: protocol, dtype: int64

In [16]:
total_df["user_session_id"].value_counts()

5fb27d3750b11901a35649fe    1000
Name: user_session_id, dtype: int64

In [17]:
total_df["org_id"].value_counts()

5f572820f65af8ac955b2e83    1000
Name: org_id, dtype: int64

In [18]:
total_df["content-type"].value_counts()

application/json    1000
Name: content-type, dtype: int64

In [19]:
total_df["user_session_id"].value_counts()

5fb27d3750b11901a35649fe    1000
Name: user_session_id, dtype: int64

In [20]:
# dropping the column which are not used because the each column has the same values.

total_df= total_df.drop(['baseUrl','fresh','hostname','ip','ips','originalUrl','params','path','protocol','query','secure','stale','subdomains','xhr','host','user-agent','content-type','org_id','user_session_id','accept','content-length','name','role'],axis=1)

In [21]:
total_df.columns

Index(['title', 'desc', 'isSafe'], dtype='object')

In [22]:
total_df.head()

            title                                               desc  isSafe
0    Tina Johnson  Top recognize eat. Fact whom spend area thing ...    True
1  Clayton Cooper  As possible American many prepare four strong....    True
2    Curtis Wolfe                Tuesday Notes or 2 like 2 XSP Class   False
3    Laura Fisher  State third represent energy campaign not forg...    True
4    Tyler Santos  Us enjoy since. Time identify image position o...   False

In [23]:
total_df.dtypes

title     object
desc      object
isSafe      bool
dtype: object

In [24]:
total_df=pd.get_dummies(total_df,columns=['isSafe','title','desc'],drop_first=True)

total_df

,isSafe_True,title_Aaron Wyatt,title_Abigail Sanchez,title_Abigail Wells,title_Adam Alexander,title_Adam King,title_Adam Ramirez,title_Adam Wolf,title_Adrienne Mason,title_Alan Peterson,...,desc_Yes money miss another stuff. Result ball politics day you probably administration include.\nSignificant surface state. No whose number task.,desc_Yet prove week. Perhaps face model respond nature provide foot.\nSystem peace western although human section raise information. Administration may imagine dream central increase run.,desc_You almost no partner final tree. Start president drop view especially. Finally enjoy event fall name.,desc_Your create against agreement. Bank teach wrong thing media tough usually town. However cell believe report recently heart.\nDown sell off. Relationship article happy. Reduce fire second from.,desc_Your teach describe heart cold lose majority. Stand professor while group administration. Everything drive receive arm boy somebody myself blood. Probably military serve painting deal.,"desc_admin""/* your section of notes is going to be blank",desc_ext1%3Cvideo+src%3D1+href%3D1+onerror%3D%22javascript%3Aalert%281%29%22%3E%3C%2Fvideo%3E,"desc_note title <title onPropertyChange title onPropertyChange=""javascript:javascript:alert(1)""></title onPropertyChange>",desc_notes --><!-- -->> <img src=xxx:x onerror=javascript:alert(1)> --> hello de,"desc_text1<video src=1 href=1 onerror=""javascript:alert(1)""></video>hello"
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
##Assigning the values of x and y

X = total_df.drop(['isSafe_True'],axis=1).values
y = total_df['isSafe_True'].values

In [26]:
#Next, we'll split the data into training and test datasets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=0)

print('There are {} samples in the training set and {} samples in the test set'.format(
X_train.shape[0], X_test.shape[0]))
print()

There are 700 samples in the training set and 300 samples in the test set

In [27]:
from sklearn.svm import SVC

clf_SVC = SVC(C=100.0, kernel='rbf', degree=3, gamma='auto', coef0=0.0, shrinking=True, 
          probability=False, tol=0.001, cache_size=200, class_weight=None, 
          verbose=0, max_iter=-1, decision_function_shape="ovr", random_state = 0)
clf_SVC.fit(X_train,y_train)

print('Accuracy of SVC on training set: {:.2f}'.format(clf_SVC.score(X_train, y_train) * 100))

print('Accuracy of SVC on test set: {:.2f}'.format(clf_SVC.score(X_test, y_test) * 100))

Accuracy of SVC on training set: 80.00
Accuracy of SVC on test set: 81.00

In [28]:
# Fitting Decision Tree Classifier to the Training set
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
print(classifier)
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Accuracy on the Test set results                              
from sklearn.metrics import accuracy_score
print('\n'+'-'*20+'Accuracy Score on the Test set'+'-'*20)                             
print("{:.0%}".format(accuracy_score(y_test,y_pred)))

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

--------------------Accuracy Score on the Test set--------------------
81%

In [29]:
# Fitting Random Forest Classifier to the Training set
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
print(classifier)
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Accuracy on the Test set results                              
from sklearn.metrics import accuracy_score
print('\n'+'-'*20+'Accuracy Score on the Test set'+'-'*20)                             
print("{:.0%}".format(accuracy_score(y_test,y_pred)))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators='warn',
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

F:\ANACONDA\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

--------------------Accuracy Score on the Test set--------------------
81%

In [30]:
## the accuracy score of test data is 81%